# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache

# Virtual environments
venv/
env/

# PyTorch cache
.offload/

# Logs
*.log
conversation_logs/

# VSCode settings
.vscode/

# Environment variables
.env

# Tmp files / not used
tmp_*
not_used/
test_files/

# DataBases
*db/
